{% extends "base.html" %}
{% block title %}Biblioteka{% endblock %}
{% block nav %}
    <div class="container">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="/" role="button">Lista książek</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add" role="button">Dodaj książkę</a>
          </li>
        </ul>
    </div>
{% endblock %}

{% block content %}


<h3 align="center">Książki</h3>
{% if books_no %}

<div class="table-responsive-md">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Tytuł</th>
        <th scope="col">Autorzy</th>
        <th scope="col">Na półce</th>
        <th scope="col"></th>
      </tr>
    </thead>
  <tbody>
  {% for book in books %}
     <tr>
         <td>{{ book.title}}</td>
         <td>{{ book.authors }}</td>
         <td>{%if book.available == 'on'%} TAK {%else%}NIE , Użytkownik: {{book.user[0] or 'nie znany'}}{%endif%}</td>
         <td>
           <div class="d-grid col-6 mx-auto">
            <a class="btn btn-success btn-sm" type="button" href="/edit?title={{book.title}}">Edytuj</a>
            <a class="btn btn-danger btn-sm" type="button" {%if book.available == 'on'%} href="/lend?title={{book.title}}">Wypożycz</a> {%else%} href="/return?title={{book.title}}&user={{book.user[0]}}">Zwróć</a>{%endif%}
            </div>
          </td>
     </tr>
  {% endfor %}
  </tbody>
 </table>
</div>
{% else %}
<p align="center">Brak książek</p>
{% endif %}{% endblock %}