{% extends "base.html" %}
{% block title %}Biblioteka{% endblock %}
{% block nav %}
    <div class="container">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/" role="button">Lista książek</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add" role="button">Dodaj książkę</a>
          </li>
        </ul>
    </div>
{% endblock %}

{% block content %}


<h3 align="center">Wypożycz książkę</h3>

<form method="POST">
  <div class="form-group">
    <div class="row">
        <div hidden class="col">
          <label for="id">id</label>
          <input
            type="text"
            class="form-control"
            id="id"
            name="id"
            placeholder="id"
            value="{{book.id}}"
          />
        </div>
        <div class="col">
            <label for="title">Tytuł</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              placeholder="Title"
              value="{{book.title}}"
            />
        </div>
        <div class="col">
            <label for="author">Autorzy</label>
            <input
              type="text"
              class="form-control"
              id="authors"
              name="authors"
              placeholder="Authors"
              value="{{book.authors}}"
            />
        </div>
        <div class="col">
                <label for="available">Na półce</label>
                </br>
                <input
                  type="checkbox"
                  id="available"
                  name="available"
                />
            </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="user">Użytkownik</label>
            <input
              type="text"
              class="form-control"
              id="user"
              name="user"
              placeholder="user"
            />
        </div>
    </div>
  <br />
  <button type="submit" class="btn btn-primary">Aktualizuj</button>
</form>
{% endblock %}